.about{
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
}

.about img{
    width: 50%;
    margin-left: 92px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.about p{
    text-align: center;
    color: var(--marron);
}